docopt
flask
flask-sqlalchemy
flask-migrate
Flask-RESTful
Flask-Script
python-dotenv
sqlalchemy-json
gunicorn
requests
flask-jwt-extended
sqlalchemy-utils
babel
psycopg2-binary
geopy
connexion[swagger-ui]
pytest